body{
    background-color: #f8f7f4;
}

.mainbappy{
    width: 100%;
    height: 100%;
    
}

.searchimage{
    margin: 2px 0px;
    width: 13px;
    padding-left: 10px;
    background-color: rgb(255, 255, 255);
}

.searchbar{
    margin-top: 2px;
    border: none;
    outline: none;
    
    background-color: rgb(255, 255, 255);
}

.sinb{
    margin-top: 7px;
    padding-left: 5px;
    padding-top: 10px;
    background-color: rgb(255, 255, 255);
    width: 202px;
    
    border-radius: 20px;
    
}

.navmain{
    display: flex;
    margin: 15px;
    font-family: sans-serif;
    
    
}

.nbm{
    margin: 15px;
    text-decoration: none;
    font-family: sans-serif;
}

.sls{
    margin-right: 280px;
}

.title{
    text-align: center;
    justify-content: space-around;
    font-family: sans-serif;
}

.paragraph{
    text-align: center;
    font-family: sans-serif;
    
}

.pd1image{
    width: 230px;
    height: 190px;
    border-radius: 10px;
    margin-bottom: -4px;
}

.eyeicon, .loveicon, .usericon{
    width: 12px;
    
}

.loveicon{
    width: 15px; 
    margin-top: 8px;
    margin-left: 70px;
}

.usericon{
    
    border-radius: 07px;
    margin-top: 4px; 
    margin-left: 2px; 
}

.eyeicon{
    width: 15px;
    margin-top: 4px;
    margin-left: 10px;
}

.userset{
    display: inline-flex;
    text-align: center;   
}
.name1{
    margin-left: -0px;
    
}

.uicon{
    text-decoration: none;
    color: black;
    margin-top: 2px;
    
    
}

.box{
    display: block;
    width: 230px;
    height: 190px;
    margin: 20px;
    box-shadow: 2px 2px 2px rgb(0 0 0 / 30%);
    border-radius: 10px;
}

.usermain{
    display: flex;
    margin: 0px;
    justify-content: center;
}

.headernav{
    margin-left: 70px;
    /* position: sticky; */
    /* top: 0;
    background-color: blue; */

}

.sdffds{
    border: none;
    outline: none;
}




