a{ 
    text-decoration: none;   
}

li {
    list-style: none;
    position: relative;
    /* background-color: blue; */
}

ul li {
    /* background-color: aquamarine; */
    display: inline;
    margin: 10px;
    padding: 10px
}

ul ul {
    
    display: none;
    position: absolute;
    margin-left: 42px;
    margin-top: 10px;
}

ul li a:hover{
    background-color: brown;
    padding: 05px;
}

ul li:hover ul {
    
    display: block;
    
}

