/* *{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(163, 163, 163); 
} */
/* .main{
    width: 745px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    display: flex;
    margin: auto;
    border-radius: 5px;
    margin-top: 25px;
    column-gap: 1px;
   
    
    
}

.Home, .About-Us, .Service, .Portfolio, .Contact-Us {

background-color: aquamarine;
width: 150px;
height: 15;
display: flex;
justify-content: space-around;
align-items: center;
}

.Contact-Us{
    border-radius: 0px 5px 5px 0px;
}

.Home{
    border-radius: 5px 0px 0px 5px;
}

a{
    position: absolute;
    display: block;
    text-decoration: none;
    padding: 10px;
    color: brown;
    padding: 0px 16px;
    
}
a:hover{
    background-color: blue;
}
ul{
    position: absolute;
    display: block;
    background-color: rgb(209, 231, 127);
}

li{
    list-style: none;
position: relative;
float: left;
line-height: 1;
} */

ul{
    position: relative;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
      }

ul li{
    list-style-type: none;
    float: left;
    border-right: 1px solid rgb(255, 255, 255);
    background-color: aquamarine;  
}


ul li:hover {
    background-color: lightgreen;
}

ul li a{
    text-decoration: none;
    color: black;
    padding: 10px;
    display: inline-block;
    width : 100%;
    }



ul li ul {
    position: absolute;
    /* margin-left: -10px;
    margin-top: 10px; */
    opacity: 0;
    display: none;
}

ul li ul li {
    clear : both;
    width : 100%;
    border-bottom: 1px solid white;
    background-color: rgb(235, 201, 138);
    border-radius: 5px;
}

ul li ul li:hover {
    background-color: rgb(218, 201, 53);
}

ul li:hover ul {
    opacity: 1;
    display: block;
}
/* ul li ul:hover {
    background-color: rgb(241, 233, 160);
} */

/* ul li ul li a{
background-color: brown;
} */

.first{
border-radius: 8px 0px 0px 8px;
border: none;
}

.last{
border-radius: 0px 8px 8px 0px;

}

.adjust
{
border: none;
}
*{box-sizing : border-box;}
